header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 8px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  align-self: flex-end;
}

button {
  background-color: tomato;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
}
