<form>
  <div class="row">
    <label for="task">Task</label>
    <input type="text" id="task" name="task" placeholder="Add Task" class="form-control" />
  </div>
  <div class="row">
    <label for="dueDate">Date Time</label>
    <input type="datetime-local" id="dueDate" name="dueDate" class="form-control" />
  </div>
  <div class="inline-row">
    <label for="remindeMe">Remind Me On</label>
    <input type="checkbox" id="remindeMe" name="remindeMe" class="check-box" />
  </div>
  <button type="button">Create</button>
</form>